.web{
	width: 640px;
	height: 100%;
	margin: 0 auto;
	position: relative;  /*容易控制子元素的绝对定位*/
	overflow: hidden;
}
.web header{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 89px;
	background: #b20000;
}
header i.fa{
	color: white;
	font-size: 30px;
}
header .left{
	float: left;
	margin-left: 24px;
	margin-top: 25px;
	position: relative;
}
header .left .fa{
	font-size: 40px;
}
header .left span{
	position: absolute;
	left: 23px;
	top: -12px;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	background: #ff0000;
	font-size: 12px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	color: #ffffff;
}
header .right{
	float: right;
	padding: 6px;
	margin-right: 17px;
	margin-top: 22px;
	border: 2px solid #FFFFFF;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

header .center{
	height: 89px;
	line-height: 89px;
	text-align: center;
}
header .center img{
	display: inline-block;
	vertical-align: middle;
}

.web .content_wrap{
	position: absolute;
	left: 0;
	top: 89px;
	width: 100%;
	bottom: 95px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	
}
.web footer{
	position: absolute;
	bottom: 0;
	height: 95px;
	width: 100%;
	background: #f5f5f5;
	border-top: 1px solid #c8c6c7;
}
footer ul{
	height: 100%;
}
footer ul li{
	float: left;
	height: 100%;
	width: 20%;
	text-align: center;
	padding-top: 16px;
}
footer ul li .fa{
	font-size: 45px;
	color: #8b8b8b;
}
footer ul li span{
	display: block;
	font-size: 20px;
	color: #8b8b8b;
	text-align: center;
	margin-top: 5px;
}
footer a:hover .fa,
footer a:hover span,
footer a.active .fa,
footer a.active span
{
	color: #b60207;
}
.slideMenu{
	width: 100%;
	height: 100%;
	position: absolute;
	background: #222222;
	left: 0;
	top:0;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);/*基于自身的宽高做百分比计算，然后进行对应方向的位置偏移*/
	-webkit-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
	z-index: 55;
	/*text-align: center;*/
}

#slideMenu:checked~.slideMenu{
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}
 
.slideMenu .logo img{
	display: block;
	margin: 0 auto;
	margin-top: 188px;
}
.bt5 input{
	background: #3d3d3d;
	width: 300px;
	height: 25px;
	color: #616161;
	border: 0;

}
.bt5{
	text-align: center;
	padding-bottom: 13px;
	margin-top: 17px;
	
}
.bt5  i{
	background: #303030;
	width: 15px;
	height: 20px;
}
.bt6{
	text-align: center;
	padding-bottom: 24px;
	
}
.bt6 input{
	background: #3d3d3d;
	width: 300px;
	height: 25px;
	color: #616161;
	border: 0;
}
.bt6 i{
	width: 15px;
	height: 20px;
	background: #303030;
}
.bt2 i{
	color: white;
	float: right;
	margin-right: 157px;
}
.bt3{
	text-align: center;
	width: 100%;
	height: 25px;
	margin-top: 13px;
	
}
.bt4{
	text-align: center;
	width: 100%;
	margin-top: 15px;
	height: 25px;	
}
.bt3 button{
	width: 300px;
	height: 25px;
	background: red;
	color: white;
}
.bt4 button{
	width: 300px;
	height: 25px;
	background:#3d3d3d ;
	color: white;
}
.content_wrap img{
	margin-top: 10px;
	width: 100%;
}
.heng{
	position: absolute;
	left: 22px;
	top: 300px;
	width: 584px;
	height: 20px;
}
.heng img{
	margin-top: 22px;
	width: 290px;
}
.dt{
	position: absolute;
	left: 0;
	top: 371px;
	width: 640px;
	height: 323px;
	background: url(../img/dt_02.jpg) no-repeat;
}
.dt img{
	margin-top: 15px;
}
.wenzi{
	margin-top: 219px;
	margin-left: 31px;
	color: white;
	background-color: rgba(0,0,0,0.8)
	
}
.wenzi span:nth-of-type(1){
	font-size: 20px;
}
.wenzi .fa{
	margin-top: 18px;
	padding-right: 48px;
}
.wenzi .fa:nth-of-type(2){
	margin-top: 18px;
	padding-right:272px;
}
.wenzi span:nth-of-type(2){
	margin-top: 18px;
}
.xw{
	position: absolute;
	top: 718px;
	margin-left: 27px;
	
}
.xw .xinwen{
	margin-bottom: 100px;
	
}
.xw .xinwen .r{
	float: right;
	width: 374px;
	height: 139px;
	
	
}

.xw .xinwen .r span{
	float: right;
}
.xw.xinwen .r h2{
	margin-left: 16px;
	height: 50px;
}
.xw.xinwen .r p{
	margin-left: 14px;
}
.xw.xinwen .r span i{
	margin-left: 17px;
}
.xw.xinwen .r span{
	margin-left: 20px;

}
